doctype
html
  head
    title Enterprise Solutions and Consulting
    link(rel="stylesheet" href="/main.css")
    link( href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css')
  body
    != yield