html {
  height: 100%;
}

body {
  font-family: "Helvetica";
  text-align: center;
  padding: 150px 20px 0;
  background-color: rgba(204, 153, 204, 0.68);
  color: #313131;
  margin: 0;
  background: linear-gradient( hsla(273,31%,54%,0.68), hsla(273,31%,54%,0.68) 100%),url("/home_grey.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Righteous";
  font-size: 100px;
  line-height: 1.2em;
  padding: 20px 0;
}
